body {background-color: darkgray; }
p {
    color: brown;
    font-size: 25px;
    margin-lef: 20px
}
h1 {
    text-align: center;
    color:brown
}
h2 {
    text-align: center;
}
header {
    border-bottom: solid 3px ;
    padding: 25px ;
    font-size: 32px;
    display: flex;
    justify-content: center;

}
